/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[4].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[4].use[3]!./app/issues/layout.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.layout_layout__LKw9I {
    display: grid;
    grid-template-columns: 25% 75%;
  }
  
  .layout_sidebar__absKD {
    height: 100vh;
    padding: 0 2rem;
    background-color: #29252e;
  }
  
  .layout_sidebar__absKD ul {
    display: flex;
    flex-direction: column;
  }
  
  .layout_sidebar__absKD li {
    padding: 1rem;
    border-bottom: 2px solid #46404c;
    color: white;
  }
  
  .layout_sidebar__absKD a {
    color: #cda7fa;
    text-decoration: none;
  }
  
  .layout_sidebar__absKD a:hover {
    color: #b47df7;
  }
